.ui-table {
    position: relative;
}

.ui-table table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.ui-table .ui-table-thead > tr > th,
.ui-table .ui-table-tbody > tr > td,
.ui-table .ui-table-tfoot > tr > td {
    padding: .25em .5em;
}

.ui-table .ui-sortable-column {
    cursor: pointer;
    user-select: none;
}

.ui-table p-sorticon {
    vertical-align: middle;
}

.ui-table-auto-layout > .ui-table-wrapper {
    overflow-x: auto;
}

.ui-table-auto-layout > .ui-table-wrapper > table {
    table-layout: auto;
}

/* Sections */
.ui-table-caption,
.ui-table-summary {
    padding: .25em .5em;
    text-align: center;
    font-weight: bold;
}

.ui-table-caption {
    border-bottom: 0 none;
}

.ui-table-summary {
    border-top: 0 none;
}

/* Paginator */
.ui-table .ui-paginator-top {
    border-bottom: 0 none;
}

.ui-table .ui-paginator-bottom {
    border-top: 0 none;
}

/* Scrollable */
.ui-table-scrollable-wrapper {
    position: relative;
}
.ui-table-scrollable-header,
.ui-table-scrollable-footer {
    overflow: hidden;
    border: 0 none;
}

.ui-table-scrollable-body {
    overflow: auto;
    position: relative;
}

/* Flex Scrollable */
.ui-table-flex-scrollable {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.ui-table-flex-scrollable .ui-table-scrollable-wrapper,
.ui-table-flex-scrollable .ui-table-scrollable-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.ui-table-flex-scrollable .ui-table-scrollable-body,
.ui-table-flex-scrollable .ui-table-virtual-scrollable-body {
    flex: 1;
}

/* Frozen Columns */
.ui-table-frozen-view .ui-table-scrollable-body,
.ui-table-frozen-view .ui-table-virtual-scrollable-body {
    overflow: hidden;
}

.ui-table-frozen-view > .ui-table-scrollable-body > table > .ui-table-tbody > tr > td:last-child,
.ui-table-frozen-view > .ui-table-virtual-scrollable-body > table > .ui-table-tbody > tr > td:last-child {
    border-right: 0 none;
}

.ui-table-unfrozen-view {
    position: absolute;
    top: 0px;
}

/* Resizable */
.ui-table-resizable > .ui-table-wrapper {
    overflow-x: auto;
}

.ui-table-resizable .ui-table-thead > tr > th,
.ui-table-resizable .ui-table-tfoot > tr > td,
.ui-table-resizable .ui-table-tbody > tr > td {
    overflow: hidden;
}

.ui-table-resizable .ui-resizable-column {
    background-clip: padding-box;
    position: relative;
}

.ui-table-resizable-fit .ui-resizable-column:last-child .ui-column-resizer {
    display: none;
}

.ui-table .ui-column-resizer {
    display: block;
    position: absolute !important;
    top: 0;
    right: 0;
    margin: 0;
    width: .5em;
    height: 100%;
    padding: 0px;
    cursor:col-resize;
    border: 1px solid transparent;
}

.ui-table .ui-column-resizer-helper {
    width: 1px;
    position: absolute;
    z-index: 10;
    display: none;
}

/* Edit */
.ui-table .ui-table-tbody > tr > td.ui-editing-cell {
    padding: 0;
}

.ui-table .ui-table-tbody > tr > td.ui-editing-cell p-celleditor >  * {
    width: 100%;
}

/* Reorder */
.ui-table-reorder-indicator-up,
.ui-table-reorder-indicator-down {
    position: absolute;
    display: none;
}

/* Responsive */
.ui-table-responsive .ui-table-tbody > tr > td .ui-column-title {
    display: none;
}

@media screen and (max-width: 40em) {
    .ui-table-responsive .ui-table-thead > tr > th,
    .ui-table-responsive .ui-table-tfoot > tr > td {
        display: none !important;
    }

    .ui-table-responsive colgroup {
        display: none !important;
    }

    .ui-table-responsive .ui-table-tbody > tr > td {
        text-align: left;
        display: block;
        border: 0 none;
        width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: left;
    }

    .ui-table-responsive .ui-table-tbody > tr > td .ui-column-title {
        padding: .4em;
        min-width: 30%;
        display: inline-block;
        margin: -.4em 1em -.4em -.4em;
        font-weight: bold;
    }
}

/* Loader */
.ui-table-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
    opacity: 0.1;
    z-index: 1;
}

.ui-table-loading-content {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    margin-top: -1em;
    margin-left: -1em;
}

.ui-table .ui-table-loading-icon {
    font-size: 2em;
}

body .ui-table .ui-table-caption,
body .ui-table .ui-table-summary {
  background-color: #f4f4f4;
  color: #333333;
  border: 1px solid #c8c8c8;
  padding: 0.571em 1em;
  text-align: center;
}
body .ui-table .ui-table-caption {
  border-bottom: 0 none;
  font-weight: 700;
}
body .ui-table .ui-table-summary {
  border-top: 0 none;
  font-weight: 700;
}
body .ui-table .ui-table-thead > tr > th {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #AFABAB;
}
body .ui-table .ui-table-tbody > tr > td {
  padding: 0.571em 0.857em;
}
body .ui-table .ui-table-tfoot > tr > td {
  padding: 0.571em 0.857em;
  border: 1px solid #c8c8c8;
  font-weight: 700;
  color: #333333;
  background-color: #ffffff;
}
body .ui-table .ui-sortable-column {
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
body .ui-table .ui-sortable-column:focus {
  outline: 0 none;
  outline-offset: 0;
  -webkit-box-shadow: inset 0 0 0 0.2em #8dcdff;
  -moz-box-shadow: inset 0 0 0 0.2em #8dcdff;
  box-shadow: inset 0 0 0 0.2em #8dcdff;
}
body .ui-table .ui-sortable-column .ui-sortable-column-icon {
  color: #848484;
}
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover {
  background-color: #e0e0e0;
  color: #333333;
}
body .ui-table .ui-sortable-column:not(.ui-state-highlight):hover .ui-sortable-column-icon {
  color: #333333;
}
body .ui-table .ui-sortable-column.ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff;
}
body .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  color: #ffffff;
}
body .ui-table .ui-editable-column input {
  font-size: 14px;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
body .ui-table .ui-editable-column input:focus {
  outline: 1px solid #007ad9;
  outline-offset: 2px;
}
body .ui-table .ui-table-tbody > tr {
  background-color: #ffffff;
  color: #333333;
  -moz-transition: background-color 0.2s, box-shadow 0.2s;
  -o-transition: background-color 0.2s, box-shadow 0.2s;
  -webkit-transition: background-color 0.2s, box-shadow 0.2s;
  transition: background-color 0.2s, box-shadow 0.2s;
}
body .ui-table .ui-table-tbody > tr > td {
  background-color: inherit;
  border: 1px solid #c8c8c8;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  -webkit-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
body .ui-table .ui-table-tbody > tr.ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff;
}
body .ui-table .ui-table-tbody > tr.ui-state-highlight a {
  color: #ffffff;
}
body .ui-table .ui-table-tbody > tr.ui-table-dragpoint-top > td {
  -webkit-box-shadow: inset 0 2px 0 0 #007ad9;
  -moz-box-shadow: inset 0 2px 0 0 #007ad9;
  box-shadow: inset 0 2px 0 0 #007ad9;
}
body .ui-table .ui-table-tbody > tr.ui-table-dragpoint-bottom > td {
  -webkit-box-shadow: inset 0 -2px 0 0 #007ad9;
  -moz-box-shadow: inset 0 -2px 0 0 #007ad9;
  box-shadow: inset 0 -2px 0 0 #007ad9;
}
body .ui-table .ui-table-tbody > tr:focus {
  outline: none;
}
body .ui-table .ui-table-tbody > tr:focus + tr > td {
  box-shadow: 0 -0.2em 0 0 #8dcdff;
}
body .ui-table .ui-table-tbody > tr:focus > td {
  box-shadow: 0 -0.2em 0 0 #8dcdff, 0 0.2em 0 0 #8dcdff;
}
body .ui-table .ui-table-tbody > tr:focus > td:first-child {
  box-shadow: 0 -0.2em 0 0 #8dcdff, 0 0.2em 0 0 #8dcdff, -0.1em -0.1em 0 0.1em #8dcdff;
}
body .ui-table .ui-table-tbody > tr:focus > td:last-child {
  box-shadow: 0 -0.2em 0 0 #8dcdff, 0 0.2em 0 0 #8dcdff, 0.1em -0.1em 0 0.1em #8dcdff;
}
body .ui-table .ui-table-tbody > tr:nth-child(even) {
  background-color: #f9f9f9;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff;
}
body .ui-table .ui-table-tbody > tr:nth-child(even).ui-state-highlight a {
  color: #ffffff;
}
body .ui-table .ui-table-virtual-scrollable-body .ui-table-tbody > tr:nth-child(even) {
  background-color: #ffffff;
}
body .ui-table .ui-table-virtual-scrollable-body .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
  background-color: #007ad9;
  color: #ffffff;
}
body .ui-table .ui-table-virtual-scrollable-body .ui-table-tbody > tr:nth-child(even).ui-state-highlight a {
  color: #ffffff;
}
body .ui-table.ui-table-hoverable-rows .ui-table-tbody > tr.ui-selectable-row:not(.ui-state-highlight):hover {
  cursor: pointer;
  background-color: #eaeaea;
  color: #333333;
}
body .ui-table .ui-column-resizer-helper {
  background-color: #007ad9;
}
@media screen and (max-width: 40em) {
  body .ui-table.ui-table-responsive .ui-paginator-top {
    border-bottom: 1px solid #c8c8c8;
  }
  body .ui-table.ui-table-responsive .ui-paginator-bottom {
    border-top: 1px solid #c8c8c8;
  }
  body .ui-table.ui-table-responsive .ui-table-tbody > tr td {
    border: 0 none;
  }
  body .ui-table.ui-table-responsive .ui-table-tbody > tr:focus + tr > td {
    box-shadow: none;
  }
  body .ui-table.ui-table-responsive .ui-table-tbody > tr:focus > td {
    box-shadow: none;
  }
  body .ui-table.ui-table-responsive .ui-table-tbody > tr:focus > td:first-child {
    box-shadow: none;
  }
  body .ui-table.ui-table-responsive .ui-table-tbody > tr:focus > td:last-child {
    box-shadow: none;
  }
}

body .ui-paginator {
    background-color: #f4f4f4;
    border: 1px solid #c8c8c8;
    padding: 0;
  }
  body .ui-paginator .ui-paginator-first,
  body .ui-paginator .ui-paginator-prev,
  body .ui-paginator .ui-paginator-next,
  body .ui-paginator .ui-paginator-last {
    color: #737373;
    height: 2.286em;
    min-width: 2.286em;
    border: 0 none;
    line-height: 2.286em;
    padding: 0;
    margin: 0;
    vertical-align: top;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  body .ui-paginator .ui-paginator-first:not(.ui-state-disabled):not(.ui-state-active):hover,
  body .ui-paginator .ui-paginator-prev:not(.ui-state-disabled):not(.ui-state-active):hover,
  body .ui-paginator .ui-paginator-next:not(.ui-state-disabled):not(.ui-state-active):hover,
  body .ui-paginator .ui-paginator-last:not(.ui-state-disabled):not(.ui-state-active):hover {
    background-color: #e0e0e0;
    color: #333333;
  }
  body .ui-paginator .ui-paginator-first:focus,
  body .ui-paginator .ui-paginator-prev:focus,
  body .ui-paginator .ui-paginator-next:focus,
  body .ui-paginator .ui-paginator-last:focus {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
    -moz-box-shadow: 0 0 0 0.2em #8dcdff;
    box-shadow: 0 0 0 0.2em #8dcdff;
  }
  body .ui-paginator .ui-paginator-current {
    color: #333333;
    height: 2.286em;
    min-width: 2.286em;
    line-height: 2.286em;
  }
  body .ui-paginator .ui-dropdown {
    border: 0 none;
  }
  body .ui-paginator .ui-dropdown .ui-dropdown-trigger, body .ui-paginator .ui-dropdown .ui-dropdown-label {
    color: #737373;
  }
  body .ui-paginator .ui-dropdown:hover .ui-dropdown-trigger, body .ui-paginator .ui-dropdown:hover .ui-dropdown-label {
    color: #333333;
  }
  body .ui-paginator .ui-paginator-first:before {
    position: relative;
    top: 1px;
  }
  body .ui-paginator .ui-paginator-prev:before {
    position: relative;
  }
  body .ui-paginator .ui-paginator-next:before {
    position: relative;
    top: 1px;
  }
  body .ui-paginator .ui-paginator-last:before {
    position: relative;
    top: 1px;
  }
  body .ui-paginator .ui-paginator-pages {
    vertical-align: top;
    display: inline-block;
    padding: 0;
  }
  body .ui-paginator .ui-paginator-pages .ui-paginator-page {
    color: #737373;
    height: 2.286em;
    min-width: 2.286em;
    border: 0 none;
    line-height: 2.286em;
    padding: 0;
    margin: 0;
    vertical-align: top;
    -moz-transition: box-shadow 0.2s;
    -o-transition: box-shadow 0.2s;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
  body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background-color: #007ad9;
    color: #ffffff;
  }
  body .ui-paginator .ui-paginator-pages .ui-paginator-page:not(.ui-state-active):hover {
    background-color: #e0e0e0;
    color: #333333;
  }
  body .ui-paginator .ui-paginator-pages .ui-paginator-page:focus {
    outline: 0 none;
    outline-offset: 0;
    -webkit-box-shadow: 0 0 0 0.2em #8dcdff;
    -moz-box-shadow: 0 0 0 0.2em #8dcdff;
    box-shadow: 0 0 0 0.2em #8dcdff;
  }
  body .ui-paginator .ui-dropdown {
    margin-left: 0.5em;
    height: 2.286em;
    min-width: auto;
  }

  .ui-paginator {
    margin: 0;
    text-align: center;
    padding: .125em;
}

.ui-paginator .ui-paginator-top {
    border-bottom: 0 none;
}

.ui-paginator .ui-paginator-bottom {
    border-top:0 none;
}

.ui-paginator .ui-paginator-left-content {
    float: left;    
}

.ui-paginator .ui-paginator-right-content {
    float: right;    
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-pages,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev,
.ui-paginator .ui-paginator-current {
    display: inline-block;
    min-width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
	margin-left: .063em;
	margin-right: .063em;
	text-decoration: none;
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.ui-paginator .ui-paginator-pages {
    width: auto;
    line-height: 1;
}

.ui-paginator .ui-paginator-icon {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1em;
    height: 1em;
    margin-top: -.5em;
    margin-left: -.5em;
}

.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev{
    cursor: pointer;
}

.ui-paginator .ui-paginator-current,
.ui-paginator .ui-paginator-rpp-options {
	margin-left: 1em;
	margin-right: 1em;
    background-image: none;
}

.ui-paginator .ui-paginator-jtp-select option,
.ui-paginator .ui-paginator-rpp-options option {
    background-image: none;
    border: 0 none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.ui-paginator a.ui-state-disabled {
    outline: 0 none;
}

.ui-paginator .ui-dropdown {
    min-width: 4em;
    margin-left: .375em;
}

.ui-fluid .ui-paginator .ui-dropdown {
    width: auto;
}