<div #container [ngStyle]="style" [class]="styleClass" [ngClass]="{'ui-table ui-widget': true, 'ui-table-responsive': responsive, 'ui-table-resizable': resizableColumns,
                'ui-table-resizable-fit': (resizableColumns && columnResizeMode === 'fit'),
                'ui-table-hoverable-rows': (rowHover||selectionMode), 'ui-table-auto-layout': autoLayout,
                'ui-table-flex-scrollable': (scrollable && scrollHeight === 'flex')}">
  <div class="ui-table-loading ui-widget-overlay" *ngIf="loading && showLoader"></div>
  <div class="ui-table-loading-content" *ngIf="loading && showLoader">
    <i [class]="'ui-table-loading-icon pi-spin ' + loadingIcon"></i>
  </div>
  <div *ngIf="captionTemplate" class="ui-table-caption ui-widget-header">
    <ng-container *ngTemplateOutlet="captionTemplate"></ng-container>
  </div>
  <p-paginator [rows]="rows" [first]="first" [totalRecords]="totalRecords" [pageLinkSize]="pageLinks"
    styleClass="ui-paginator-top" [alwaysShow]="alwaysShowPaginator" (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="rowsPerPageOptions"
    *ngIf="paginator && (paginatorPosition === 'top' || paginatorPosition =='both')"
    [templateLeft]="paginatorLeftTemplate" [templateRight]="paginatorRightTemplate"
    [dropdownAppendTo]="paginatorDropdownAppendTo" [dropdownScrollHeight]="paginatorDropdownScrollHeight"
    [currentPageReportTemplate]="currentPageReportTemplate" [showCurrentPageReport]="showCurrentPageReport">
  </p-paginator>

  <div class="ui-table-wrapper" *ngIf="!scrollable">
    <table role="grid" #table [ngClass]="tableStyleClass" [ngStyle]="tableStyle">
      <ng-container *ngTemplateOutlet="colGroupTemplate; context {$implicit: columns}"></ng-container>
      <thead class="ui-table-thead">
        <ng-container *ngTemplateOutlet="headerTemplate; context: {$implicit: columns}"></ng-container>
      </thead>
      <tbody class="ui-table-tbody" [pTableBody]="columns" [pTableBodyTemplate]="bodyTemplate"></tbody>
      <tfoot *ngIf="footerTemplate" class="ui-table-tfoot">
        <ng-container *ngTemplateOutlet="footerTemplate; context {$implicit: columns}"></ng-container>
      </tfoot>
    </table>
  </div>

  <div class="ui-table-scrollable-wrapper" *ngIf="scrollable">
    <div class="ui-table-scrollable-view ui-table-frozen-view" *ngIf="frozenColumns||frozenBodyTemplate"
      #scrollableFrozenView [pScrollableView]="frozenColumns" [frozen]="true" [ngStyle]="{width: frozenWidth}"
      [scrollHeight]="scrollHeight"></div>
    <div class="ui-table-scrollable-view" #scrollableView [pScrollableView]="columns" [frozen]="false"
      [scrollHeight]="scrollHeight" [ngStyle]="{left: frozenWidth, width: 'calc(100% - '+frozenWidth+')'}"></div>
  </div>

  <p-paginator [rows]="rows" [first]="first" [totalRecords]="totalRecords" [pageLinkSize]="pageLinks"
    styleClass="ui-paginator-bottom" [alwaysShow]="alwaysShowPaginator" (onPageChange)="onPageChange($event)"
    [rowsPerPageOptions]="rowsPerPageOptions"
    *ngIf="paginator && (paginatorPosition === 'bottom' || paginatorPosition =='both')"
    [templateLeft]="paginatorLeftTemplate" [templateRight]="paginatorRightTemplate"
    [dropdownAppendTo]="paginatorDropdownAppendTo" [dropdownScrollHeight]="paginatorDropdownScrollHeight"
    [currentPageReportTemplate]="currentPageReportTemplate" [showCurrentPageReport]="showCurrentPageReport">
  </p-paginator>

  <div *ngIf="summaryTemplate" class="ui-table-summary ui-widget-header">
    <ng-container *ngTemplateOutlet="summaryTemplate"></ng-container>
  </div>

  <div #resizeHelper class="ui-column-resizer-helper ui-state-highlight" style="display:none" *ngIf="resizableColumns">
  </div>

  <span #reorderIndicatorUp class="pi pi-arrow-down ui-table-reorder-indicator-up" style="display:none"
    *ngIf="reorderableColumns"></span>
  <span #reorderIndicatorDown class="pi pi-arrow-up ui-table-reorder-indicator-down" style="display:none"
    *ngIf="reorderableColumns"></span>
</div>
