<header class="flex">  
  <h1>Welcome to Financial Module - General Ledger</h1>   
</header>
<article>
    <section>        
        <div class="content-section implementation ui-fluid">
            <p-table #dt [columns]="cols" [value]="cars" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                <ng-template pTemplate="caption">
                    <div style="text-align: right">
                        <i class="pi pi-search" style="margin:4px 4px 0 0"></i>
                        <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    </div>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th *ngFor="let col of columns">
                            {{col.header}}
                        </th>
                    </tr>
                    <tr>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <input *ngSwitchCase="'vin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="Filter"> 
                            <input *ngSwitchCase="'year'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="Filter">
                            <input *ngSwitchCase="'brand'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="Filter">
                            <input *ngSwitchCase="'color'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="Filter">
                            <input *ngSwitchCase="'price'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, 'contains')" placeholder="Filter">                           
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr [pSelectableRow]="rowData">
                        <td *ngFor="let col of columns">
                            {{rowData[col.field]}}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
</article>
<!-- <div>Message: {{ hello$ | async | json }}</div> -->
